.switchButton {
  position: relative;
}
.button {
  width: 45px;
  height: 18px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.numbers {
  position: absolute;
  top: -15px;
  font-size: 10px;
  white-space: pre;
  left: 8px;
}
.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  transition: 0.2s ease-in-out;
  z-index: 1000;
}

.section {
  height: 18px;
  width: 30%;
  position: absolute;
  opacity: 30%;
}
.section1 {
  left: 5%;
}
.section2 {
  left: 35%;
}
.section3 {
  left: 65%;
}
.circle1 {
  left: 10%;
}
.circle2 {
  left: 36%;
}
.circle3 {
  left: 58%;
}

/* Theme */
.button1 {
  background-color: hsl(223, 31%, 20%);
}
.numbers1{
    color: white;
}
.circle1 {
  background-color: hsl(6, 63%, 50%);
}
.circle1:hover {
  background-color: hsl(6, 100%, 61%);
}


.button2 {
  background-color: hsl(0, 5%, 81%);
}
.numbers2{
    color: hsl(222, 26%, 31%);
}
.circle2 {
  background-color: hsl(25, 98%, 40%);
}
.circle2:hover {
  background-color: hsl(25, 77%, 54%);
}


.button3 {
  background-color: hsl(223, 31%, 20%);
}
.numbers3{
    color: white;
}
.circle3 {
  background-color: hsl(6, 63%, 50%);
}
.circle3:hover {
  background-color: hsl(6, 100%, 61%);
}
